
<!-- loop through reviews and show on page -->
<% @product.reviews.each do |review| %>
  <div class="col-sm-8">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= review.user_id %></dd>
      <dt>rating</dt>
      <dd><%= review.rating %></dd>
      <dt>Description</dt>
      <dd><%= review.description %></dd>
    </dl>
  </div>
<% end %>
  <div class="col-sm-6 col-sm-offset-1">
    <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
  </div>

